.mainbox{
    border: 2px solid black;
    width: 760px;
    height: 550px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    

    
}
.centerbox{
    border: 1px solid rgb(207, 193, 234);
    width: 700px;
    height: 400px;
    background-color: rgb(207, 193, 234);
    margin-top: 70px;
    


}
.account{
    color: white;
    padding-left: 76px;
    padding-top: 144px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login{
    border-radius: 8px;
    color: white;
    position: absolute;
    left: 146px;
    top: 300px;
    padding: 7px;
    background-color: rgb(130, 249, 249);
    margin-left: 96px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.clr:hover{
    background-color:white;
    color: black;

}
.downerrow{
    border-bottom: 158px solid transparent;
    border-top: 4px solid transparent;
    border-right: 180px solid rgb(229, 217, 230,0.49);
    position: relative;
    bottom: 157px;
    right: 310px;
    
}
.topbox{
    background-color: white;
    width: 300px;
    height: 478px;
    position: relative;
    left: 377px;
    bottom: 426px;
}
input {
    border-radius: 4px;
    color: rgb(241, 21, 21);
    margin: 12px;
    height: 25px;
    width: 220px;
    border: 1px solid;
    border-color: blueviolet;
    padding:6px;
    display: block;
    position: relative;
    left: 24px;
    top: 50px;
       
} 
input:hover{
    border-color: yellow;
}
label{
    position: relative;
    left: 23px;
    top: 50px; 
    margin: 14px;

}
.bs{
    border-radius: 5px;
    padding: 9px;
    background-color:  rgb(234, 91, 115);
    margin: 72px;
    position: relative;
    top: 83px;
    left: 23px;
}
.bs:hover{
    background-color: black;
    color: white;
}
 