body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
h3{
    margin: 0px;
}
#navbar{
    padding: 15px 20px 15px 0px;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    width: 100vw;
    transition: 0.3s;
    box-shadow: 2px 2px 10px 3px;
}
.p-1{
    padding: 15px;
}
.font-size{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: #ffff00;
    font-size: 25px;
}
.d-flex{
    display: flex !important;
}
.align-items-center{
 align-items: center !important;
}
.justify-content-around{
    justify-content: space-around !important;
}
.justify-content-between{
    justify-content: space-between !important;
}
.justify-content-center {
    justify-content:center ;
}
.fs-3{
    font-size: 55px;
    font-family: Montserrat,Helvetica,Arial,Lucida,sans-serif !important;
}
.fs-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.w-1{
    width: 87%;

}
.d-lg-flex{
    display: flex !important;
    flex-direction: row !important;
}
.mr-2{
    margin-right: 20px !important;
}
.gap-2{
    gap: 20px !important;
}
.margin-right{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.w-10{
    width: 99%;
}
a:hover{
  color: yellow;
  background-color: black;
  border-radius: 10px;
  padding: 2px;
}
.grey-color{
   font-size: 19px;
}
button{
padding: 18px;
width: 200px;
cursor: pointer;
}
.content-center{
    display: flex;
    width: 100%;
}
.border{
    border: 1px solid;
    border-color: transparent;
    width: 150px;
}
.font-color{
    color: #ffff00;
    font-size:50px;
    font-family: sans-serif;
}
.font-size-2{
    font-size: 50px;
    font-weight: bolder;
    font-family: Montserrat,Helvetica,Arial,Lucida,sans-serif;
}
.text-color-grey{
    color: rgb(134, 131, 131);
    font-size: 18px;
}
.text-center{
    display: flex;
}
.bg-yellow{
    border: none;
    background-color: #ffff00;
    font-family: sans-serif;
    font-weight: bold;
}
.bg-white{
background-color: white;
color: #ffff00;
font-family: sans-serif;
font-weight: bold;
border: none;
}
.border-yellow{
    border: 2px solid;
    border-color: #ffff00;
}
.button{
    display: flex;
    gap: 10px;
}
@keyframes appear{
   from{
    opacity: 0;
    clip-path:inset(100% 100% 0 0) ;
   }
   to{
    opacity: 0;
    clip-path: inset(0 0 0 0);
   }
}
.animation{
    animation-name: fadeInRight;
}
@media (max-width:800px) {
    .grey-color{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    .d-lg-flex{
        flex-direction: column !important;
    }

    img{
        width: 98%;
        height: 50%;
    }
    .displey-none{
        display:none;
    }
    .font-size{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .border{
        display: none;
    }
    .font-size-1{
        font-size: 20px;
    }
    .font-color{
        font-size: 35px;
    }
    .button{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    button{
        width: 100%;
    }
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    .fs-3{
    font-size: 30px;
    }
}