.container{
    display: flex;
}
.developer{
    border: 2px solid rgb(75, 244, 75);
    width: 4px;
    height: 50px;
    background-color:rgb(75, 244, 75) ;
}
.font-size{
   font-size: 38px;
}
.font-size-2{
    border-left: 7px solid greenyellow;
    font-size: 38px;
    position: absolute;
    left: 1px;
    
}
.developer:hover{
    position: absolute;
    left: 200px;
   
    
}

.font-size-2:hover{
    border-right: 7px solid greenyellow;
    display: block;
    background-color: green;
}
.font-size:hover{
    border-right: 7px solid greenyellow;
    display: none;
    font-size: 38px;
}