span b{
    color: rgb(8, 24, 202);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div span{
    font-size: 17px; 
}
h1{
    color: rgb(12, 24, 155);
    position: relative;
    bottom:15px;
    
}
.line1{
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    margin-top: 12px;
    
    
    
    
}
.p1{
    margin:30%;
    top: 40px;
    border: 3px solid;
    width: 400px;
    height: 120px;
    text-align: center;

}

